@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    background-color: #F3DE8A;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContainer{
    display: flex;
    margin-top: 50px;
    font-size: 60px;
    align-items: center;
    justify-content: space-between;
}

.markdownHeaderContainer{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}

.markdownHeader{
    text-transform:capitalize;
    text-align: center;
    display: flex;
    font-weight: 900;
    font-size: 60px;
    align-items: center;
    justify-content: center;
}

.questionContainer{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 100px;
}

.question{
    font-weight: 700;
    -webkit-box-shadow: 12px 6px 8px 8px #000000; 
    box-shadow: 12px 6px 8px 8px #000000;
    width: 80px;
    height: 100px;
    border-radius: 10px;
    border: 0px;
    background-color: #F5CD30;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.markdownArea{
    display: flex;
    justify-content: center;
    white-space: pre-line;

}

.inputTextArea{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px;
    resize: none;
    outline: 0px none transparent;
    border: 0px;
    background-color: #F5CD30;
    margin-top: 10px;
    width: 400px;
    height: 45vh;
    margin-right: 40px;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
}

.reactMarkdown{
    width: 400px;
    height: 45vh;
    position: relative;
    background-color: #F5CD30;
    word-wrap: break-word;
    overflow-y: auto;
    box-shadow: 10px 10px;
    margin-top: 10px;

}

.output{
    background-color: transparent !important;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }